h2{
    background-color: blue;
    font-size: 30px;
}
#my-text{
    background-color: chocolate;
}
#my-title{
    color:burlywood;
    font-size: 20px;
    background-color: black;
}
.title-style{
    font-size: 40px;
    font-weight: bold;
    color: crimson;
}

.btn{
    background-color: purple;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 80px;
}

.btn-danger{
    background-color: red;
    color: white;
    font-size: 20px;
    width: 100px;
    height: 80px;
}